@Scripts.Render("~/Scripts/image.recognition.js")
@Scripts.Render("~/Scripts/base64.js")

<hr />

<div id="canvasDiv" style="margin-left: auto; margin-right: auto; display: block; text-align: center;">
    <h3><label>Draw a number 0 - 9</label></h3>
</div>
<br />
<div id="canvasDisplayDiv" style="margin-left: auto; margin-right: auto; display: block; text-align: center;">
    <h4><label>Processed image for the network:</label></h4>
    <canvas id="pictureCanvas" width="150" height="150" style="border:2px solid black; margin:10px; margin-left: auto; margin-right: auto; display: block;"></canvas>
</div>

<hr />

<div style="text-align: center;">
    <div class="btn-group">
        <button id="btnClear" style="width:120px; margin:10px" class="btn btn-default btn-md" type="button">Clear</button>
        <button id="btnRecognize" style="width:120px; margin:10px" class="btn btn-success btn-md" type="button">Recognize</button>
    </div>
</div>

<hr />

<div id="resultDiv" style="text-align: center; width:50%; margin-left: auto; margin-right: auto; display: block;">

    <h4><label>Results</label></h4>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Prediction</th>
                <th class="text-center">Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td><h3><label id="firstPred" /></h3></td>
                <td><h3><label id="firstAcc" /></h3></td>
            </tr>
            <tr class="warning">
                <td><h4><label id="secondPred" /></h4></td>
                <td><h4><label id="secondAcc" /></h4></td>
            </tr>
            <tr class="danger">
                <td><h4><label id="thirdPred" /></h4></td>
                <td><h4><label id="thirdAcc" /></h4></td>
            </tr>
        </tbody>
    </table>
</div>

<br />

<div id="displayDiv" style="width:100%; display: block;">
</div>


