anaconda-clean==1.0
anaconda-client==1.7.2
anaconda-navigator==1.9.2
conda==4.5.11
conda-build==2.0.2
Flask==1.0.2
Flask-Cors==3.0.6
h5py==2.8.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
matplotlib==3.0.1
nb-anacondacloud==1.4.0
nb-conda==2.2.1
nb-conda-kernels==2.2.0
numpy==1.14.5
numpydoc==0.8.0
pandas==0.18.1
Pillow==5.3.0
pip==18.1
scikit-image==0.12.3
scikit-learn==0.20.0
tensorboard==1.12.0
tensorflow==1.12.0
tensorflow-gpu==1.10.0
